---
import Header from "../components/layout/Header.astro";
import HottestTrendsSection from "@components/organisms/HottestTrendsSection";
import Navbar from "../components/layout/Navbar.astro";
import "@fontsource-variable/tilt-neon";
import { ViewTransitions } from "astro:transitions";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body class="home-grid">
        <Header />
        <Navbar />
        <HottestTrendsSection client:load />
        <slot />
        <style is:global>
            ::-webkit-scrollbar {
                width: 8px;
                height: 8px;
            }

            ::-webkit-scrollbar-thumb {
                background: #c8c8c8;
                border-radius: 3px;
            }
            body {
                display: flex;
                justify-content: center;
                max-height: 100vh;
                height: 100vh;
                width: 100%;
                color: #ffffff;
                font-family: "TiltNeon";
                background: #000000;
            }
            .home-grid {
                display: grid;
                height: 100vh;
                width: 100vw;
                overflow-x: hidden;
                grid-template-areas:
                    "header header header"
                    "nav main aside"
                    "nav main aside";
                grid-template-rows: 10vh 1fr 1fr;
                grid-template-columns: 14vw 1fr 14vw;
            }

            @font-face {
                font-family: "TiltNeon";
                src: url("/fonts/TiltNeon-Regular.woff") format("woff");
                font-weight: normal;
                font-style: normal;
                font-display: swap;
            }
        </style>
    </body>
</html>
